.red {
  color: red
}

.blue {
  color: blue
}

.green {
  color: green
}

.yellow {
  color: yellow
}

.orange {
  color: orange
}

.indigo {
  color: indigo
}

.turqoise {
  color: #43C6DB;
}

.purple {
  color: rebbecapurple;
}

.gold {
  color: gold
}

.bk-red {
  background-color: red
}

.bk-blue {
  background-color: blue
}

.bk-green {
  background-color: green
}

.bk-yellow {
  background-color: yellow
}

.bk-orange {
  background-color: orange
}

.bk-indigo {
  background-color: indigo
}

.bk-turqoise {
  background-color: #43C6DB;
}

.bk-purple {
  background-color: rebbecapurple;
}

.bk-gold {
  background-color: gold
}
