.red {
  color: red
}

.blue {
  color: blue
}

.green {
  color: green
}

.yellow {
  color: yellow
}

.bk-red {
  background-color: red
}

.bk-blue {
  background-color: blue
}

.bk-green {
  background-color: green
}

.bk-yellow {
  background-color: yellow
}
